<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/8d578a94-4be5-437d-9eaa-e507a672fcb2/resourcegroups/rg-vslive23-demos/providers/Microsoft.Web/sites/vslive23-dadapp</ResourceId>
    <ResourceGroup>rg-vslive23-demos</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://vslive23-dadapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cab6072d-ae22-4f41-9322-59c4880305e5</ProjectGuid>
    <PublishUrl>https://vslive23-dadapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$vslive23-dadapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>